extends layout

block content
    h2 All Ongoing Courses

    p Course Name: #{course_name[0]}
    p Course ID: #{course_id[0]}
    p Department: #{dept[0]}
    p Description: #{description[0]}
    p Seats Remaining: #{seats[0]}
    br
    |
    hr
    p Course Name: #{course_name[1]}
    p Course ID: #{course_id[1]}
    p Department: #{dept[1]}
    p Description: #{description[1]}
    p Seats Remaining: #{seats[1]}
    br
    |
    hr
    p Course Name: #{course_name[2]}
    p Course ID: #{course_id[2]}
    p Department: #{dept[2]}
    p Description: #{description[2]}
    p Seats Remaining: #{seats[2]}
    br
    |
    hr
    p Course Name: #{course_name[3]}
    p Course ID: #{course_id[3]}
    p Department: #{dept[3]}
    p Description: #{description[3]}
    p Seats Remaining: #{seats[3]}
    br
    |
    hr