extends layout 

block content
    h2 All Students 

    p Student Name: #{std_name[0]}
    p Student ID: #{std_id[0]}
    p Department: #{department[0]}
    p ongoing_courses: #{ongoing_course[0]}
    br
    |
    hr
    p Student Name: #{std_name[1]}
    p Student ID: #{std_id[1]}
    p Department: #{department[1]}
    p ongoing_courses: #{ongoing_course[1]}
    br
    |
    hr
    p Student Name: #{std_name[2]}
    p Student ID: #{std_id[2]}
    p Department: #{department[2]}
    p ongoing_courses: #{ongoing_course[2]}
    br
    |
    hr
    p Student Name: #{std_name[3]}
    p Student ID: #{std_id[3]}
    p Department: #{department[3]}
    p ongoing_courses: #{ongoing_course[3]}
    br
    |
    hr